* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

a {
  color: rgb(37, 128, 212);
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

.location {
  margin: 0.5rem 0;
}

.btn {
  background: #323232;
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 1rem;
  display: inline-block;
}
